body {
    background-color: burlywood;
}

#principal {
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    border-color: black;
    background-image: linear-gradient(to right, );
}

form{
    display: grid;
}
button{
    margin: 10px;
}